<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title><%= current_page.data.title || "Accessible Sandbox" %></title>

    <%= stylesheet_link_tag "normalize", "all" %>

    <%= yield_content :head %>
  </head>

  <body class="<%= page_classes %>">
    <div class="l-container">
      <%= yield %>
    </div>

    <%= javascript_include_tag  "all" %>
    <script async="async" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script async="async" src="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js"></script>
    <script type="text/javascript">
      $(function(){
        // Add a markup block after each live example container
        $('.live-example').after("<div class='markup'></div>");

        // Fill the markup block with the code from the live container
        $('.live-example').each(function () {
          $(this).next($('.markup')).text($(this).html());
        });

        // Wrap the code in the markup block with a <pre> tag for prettyprinting
        $('.markup').wrapInner('<pre class="prettyprint" />');

        prettyPrint();
      })
    </script>
  </body>
</html>
