<!DOCTYPE html>
<!--[if IE 7 ]> <html lang="en" class="ie ie7 no-js"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="ie ie8 no-js"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta name="viewport" content="width=device-width">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <script type="text/javascript">document.documentElement.className = document.documentElement.className.replace(/no\-js/i, 'js');</script>

    <%#= stylesheet_link_tag "normalize", "all" %>

    <%# Basic styles for all devices, doesnt contain anything that could cause rendering issues such as positional info %>
    <%= stylesheet_link_tag 'basic' %>

    <!--[if ( gte IE 7 ) & ( lte IE 8 ) & (!IEMobile) ]>
    <%= stylesheet_link_tag 'enhanced_fixed', media: 'all' %>
    <![endif]-->

    <%# Responsive styles for all modern devices, excluded from older IE version %>
    <!--[if ( !IE ) | ( gte IE 9 ) ]><!-->
    <%= stylesheet_link_tag 'enhanced_responsive', :media => 'only all' %>
    <!--<![endif]-->

    <%= yield_content :assets %>
    <%= yield_content :head %>
  </head>

  <body class="<%= page_classes %>">
    <div class="l-container">
      <%= yield %>
    </div>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <%= javascript_include_tag  "all" %>
    <script src="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js"></script>
    <script type="text/javascript">
      $(function(){
        // Add a markup block after each live example container
        $('.live-example').after("<div class='markup'></div>");

        // Fill the markup block with the code from the live container
        $('.live-example').each(function () {
          $(this).next($('.markup')).text($(this).html());
        });

        // Wrap the code in the markup block with a <pre> tag for prettyprinting
        $('.markup').wrapInner('<pre class="prettyprint" />');

        prettyPrint();
      });
    </script>

    <%= yield_content :body_end %>

    <%# START RequireJS load of application %>
    <%= javascript_include_tag 'requirejs/require', data: {main: ''} %>
    <%# END RequireJS load of application %>
  </body>
</html>
