---
title: Colour Contrast
---

<% content_for :assets do %>
  <%= stylesheet_link_tag 'colour-contrast/styles' %>
<% end %>

<h1>Colour Contrast</h1>

<h2>Question</h2>
<p>Is our colour palette accessible?</p>
<p>A hand tool for checking is the <a href="http://wave.webaim.org/report#/http%3A%2F%2Fmoneyadviceservice.github.io%2Ffrontend-sandbox%2Fcolour-contrast%2F">WAVE</a> - click the contrast tab</p>

<div class="colours">
  <% colours.each do |colour| %>
    <div class="colours__item" style="background:<%= colour[0] %>;color:<%= colour[1] %>">
      background:<%= colour[0] %> color:<%= colour[1] %>
    </div>
  <% end %>
</div>
